<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/PlayUI/Non.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/Full_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/C_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/B_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,669},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/A_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/S_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/tx_live_play.texb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{962,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{962,99}</string>
			</dict>
			<key>Image/PlayUI/TapFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,474},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>Image/PlayUI/TapFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,879},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>Image/PlayUI/TapFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,474},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/breakFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,535},{62,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,810},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,669},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>
			<key>Image/PlayUI/note_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,474},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,474},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,474},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_ellipse.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,542},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/LifeCage0.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,394},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,394},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,584},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,619},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage4.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,584},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,619},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/pause_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,474},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/PlayUI/pause_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,597},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/notes/cool_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,954},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/longbar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,740},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/longNoteLine_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,99},{70,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,295}</string>
			</dict>
			<key>Image/notes/longnotes_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,474},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/pure_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,544},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/smile_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,474},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/star_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,544},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/PlayUI/live_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,879},{469,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{469,112}</string>
			</dict>
			<key>Image/PlayUI/live_clear_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,879},{469,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{469,112}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,614},{46,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,72}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,474},{61,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,72}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,614},{46,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlayUI.png</string>
			<key>realTextureFileName</key>
			<string>PlayUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>