<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/PlayUI/Non.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,129},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/Full_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,189},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/C_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,142},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/B_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,202},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/A_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,249},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,309},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/S_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,262},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/tx_live_play.texb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{962,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{962,99}</string>
			</dict>
			<key>Image/PlayUI/TapFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,377},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>Image/PlayUI/TapFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1874,302},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>Image/PlayUI/TapFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,221},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/breakFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,508},{62,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,131},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,377},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>
			<key>Image/PlayUI/note_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,377},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,377},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,377},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,377},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_ellipse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,309},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/LifeCage0.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,322},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,322},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,322},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,369},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage4.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,369},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage5.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,369},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/pause_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,142},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/PlayUI/pause_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,222},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/notes/cool_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,508},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/longbar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,592},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/longnotes_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,468},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/pure_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,483},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/smile_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,494},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/star_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,483},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/PlayUI/live_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,10},{469,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{469,112}</string>
			</dict>
			<key>Image/PlayUI/live_clear_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,10},{469,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{469,112}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,221},{46,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,72}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,129},{61,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,72}</string>
			</dict>
			<key>Image/PlayUI/musical_notes_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,10},{46,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,101}</string>
			</dict>
			<key>Image/Judge/judging_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,598},{81,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,31}</string>
			</dict>
			<key>Image/Judge/judging_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,558},{93,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,30}</string>
			</dict>
			<key>Image/Judge/judging_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,397},{147,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,33}</string>
			</dict>
			<key>Image/Judge/judging_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,377},{196,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,33}</string>
			</dict>
			<key>Image/Judge/judging_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,450},{126,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,38}</string>
			</dict>
			<key>Image/Judge/judging_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,430},{196,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,33}</string>
			</dict>
			<key>Image/PlayUI/ef_326_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,313},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlayUI.png</string>
			<key>realTextureFileName</key>
			<string>PlayUI.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>