<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/PlayUI/Non.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,129},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/Full_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,189},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/C_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,249},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/B_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,309},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/A_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,369},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/0_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,429},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/S_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,489},{879,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{879,40}</string>
			</dict>
			<key>Image/PlayUI/tx_live_play.texb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{962,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{962,99}</string>
			</dict>
			<key>Image/PlayUI/TapFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,129},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>Image/PlayUI/TapFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,246},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>Image/PlayUI/TapFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,765},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/breakFx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,712},{62,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,522},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Image/PlayUI/breakFx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,341},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>
			<key>Image/PlayUI/note_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,612},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,659},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,667},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,667},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
			<key>Image/PlayUI/note_ellipse.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,779},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Image/PlayUI/LifeCage0.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,612},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,549},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,549},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,549},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage4.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,604},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/LifeCage5.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,604},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>Image/PlayUI/pause_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,787},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/PlayUI/pause_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,787},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Image/notes/cool_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,770},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/longbar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,770},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/longnotes_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,432},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Image/notes/pure_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,853},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/smile_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,853},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/notes/star_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,867},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Image/Judge/judging_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,867},{81,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,31}</string>
			</dict>
			<key>Image/Judge/judging_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,867},{93,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,30}</string>
			</dict>
			<key>Image/Judge/judging_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,712},{147,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,33}</string>
			</dict>
			<key>Image/Judge/judging_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,659},{196,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,33}</string>
			</dict>
			<key>Image/Judge/judging_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,712},{126,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,38}</string>
			</dict>
			<key>Image/Judge/judging_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,659},{196,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,33}</string>
			</dict>
			<key>Image/PlayUI/ef_326_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,765},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlayUI.png</string>
			<key>realTextureFileName</key>
			<string>PlayUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>