<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Image/Tap_Fx_parts/TapEffect_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{1,1}}</string>
				<key>offset</key>
				<string>{239,-159}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{106,106}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,106},{102,102}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{106,106}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{106,106}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,106},{106,106}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,0},{106,106}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>Image/Tap_Fx_parts/TapEffect_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,106},{89,89}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Tap_Fx.png</string>
			<key>realTextureFileName</key>
			<string>Tap_Fx.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>