<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>R</key>
			<real>76.508</real>
			<key>X</key>
			<real>77.508</real>
			<key>Y</key>
			<real>481.49199999999996</real>
		</dict>
		<dict>
			<key>R</key>
			<real>69.803</real>
			<key>X</key>
			<real>184.0</real>
			<key>Y</key>
			<real>479.78700000000003</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>82.386</real>
			<key>X</key>
			<real>91.386</real>
			<key>Y</key>
			<real>320.614</real>
		</dict>
		<dict>
			<key>R</key>
			<real>66.106</real>
			<key>X</key>
			<real>177.106</real>
			<key>Y</key>
			<real>344.894</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>101.885</real>
			<key>X</key>
			<real>131.115</real>
			<key>Y</key>
			<real>136.747</real>
		</dict>
		<dict>
			<key>R</key>
			<real>79.0</real>
			<key>X</key>
			<real>206.0</real>
			<key>Y</key>
			<real>209.0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>95.506</real>
			<key>X</key>
			<real>313.506</real>
			<key>Y</key>
			<real>54.49400000000003</real>
		</dict>
		<dict>
			<key>R</key>
			<real>81.569</real>
			<key>X</key>
			<real>333.569</real>
			<key>Y</key>
			<real>120.43100000000004</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>73.487</real>
			<key>X</key>
			<real>482.5</real>
			<key>Y</key>
			<real>74.48699999999997</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>98.234</real>
			<key>X</key>
			<real>651.814</real>
			<key>Y</key>
			<real>47.216999999999985</real>
		</dict>
		<dict>
			<key>R</key>
			<real>70.503</real>
			<key>X</key>
			<real>615.951</real>
			<key>Y</key>
			<real>129.04199999999997</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>99.5</real>
			<key>X</key>
			<real>826.966</real>
			<key>Y</key>
			<real>136.31599999999997</real>
		</dict>
		<dict>
			<key>R</key>
			<real>80.95</real>
			<key>X</key>
			<real>745.983</real>
			<key>Y</key>
			<real>203.017</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>85.0</real>
			<key>X</key>
			<real>861.0</real>
			<key>Y</key>
			<real>324.0</real>
		</dict>
		<dict>
			<key>R</key>
			<real>73.106</real>
			<key>X</key>
			<real>774.895</real>
			<key>Y</key>
			<real>352.894</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>R</key>
			<real>92.553</real>
			<key>X</key>
			<real>867.447</real>
			<key>Y</key>
			<real>496.553</real>
		</dict>
		<dict>
			<key>R</key>
			<real>78.0</real>
			<key>X</key>
			<real>763.0</real>
			<key>Y</key>
			<real>504.0</real>
		</dict>
	</array>
</array>
</plist>
