<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>res/Image/Icon/tx_u_rankup_icon_43006003.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_43004004.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_43002003.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_41009005.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_41001005.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_41005004.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_42003006.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_42007003.texb.png</string>
	<string>res/Image/Icon/tx_u_rankup_icon_42008005.texb.png</string>
</array>
</plist>
